{% extends 'base.html.twig' %}

{% block title %}Socle Symfony
{% endblock %}

{% block body %}
	<main>
		<h1>Socle Symfony + Nginx + PHP-FPM</h1>
		<p>L’environnement de base fonctionne.</p>
	</main>
{% endblock %}
